#
# plugin.config
#
# Documentation:
#    https://docs.trafficserver.apache.org/en/latest/admin-guide/files/plugin.config.en.html
#
# Comments start with a '#' and continue to the end of the line
# Blank lines are ignored

avx_policy_driver.so 5557 60
#
avx_tee_decrypt.so 127.255.0.10 127.255.0.20
#
#use certifier to automatically run with MITM
avx_certifier.so --sign-cert=/opt/ats/ats_9.1.3/etc/local_ca/mitm_ca.cert --sign-key=/opt/ats/ats_9.1.3/etc/local_ca/mitm_ca.key --sign-serial=/opt/ats/ats_9.1.3/var/local_ca/serial.txt --store=/opt/ats/ats_9.1.3/var/local_ca/keys --max=200
